.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-btn:hover img {
  content: url("../images/closeicondark.svg");
  position: absolute;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #212121;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  color: #212121;
  border-color: rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 1;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
