.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  width: 420;
  height: 190;
  justify-content: space-between;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  width: 420px;
  height: 32px;
}

.profile__description {
  margin: 0;
  color: #212121;
  opacity: 70%;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 97px;
  height: 16px;
}

.profile__edit-btn {
  display: flex;
  gap: 8px;
  margin-top: auto;
  border: none;
  color: #212121;
  opacity: 70%;
  background-color: transparent;
  text-align: left;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__btn_divider {
  flex-grow: 1;
}

.profile__add-btn {
  background-color: #212121;
  color: #fcf5e5;
  margin: 138px 0 0 auto;
  max-width: 149px;
  max-height: 52px;
  border-radius: 8px;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__add-btn {
    margin: 0;
  }
}
